.clients {
  margin-right: 120px;

  &__title {
    margin-left: -1px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  &__text {
    margin-top: 17px;
    width: 336px;
  }

  &__google {
    margin-top: 6px;
  }

  &__airbnb {
    margin-top: 4px;
  }

  &__uber {
    margin-top: 16px;
  }

  &__amazon {
    margin-top: 21px;
  }
}
