.footer {
  margin: 0 120px;
  padding-top: 60px;
  border-top: 1px solid #e4e4e4;

  &__left-container {
    width: 270px;
  }

  &__title {
    margin-bottom: 26px;
    font-family: $logoFontName;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }

  &__title-second {
    font-family: $fontName;
    font-weight: 400;
  }

  &__socials {
    display: flex;
    gap: 16px;
    margin-top: 40px;
  }

  &__bottom {
    margin-top: 24px;
    padding: 19px 0 25px;
    text-align: center;
    font-size: 14px;
    color: #a4a4a4;
    border-top: 1px solid #f1f1f1;
  }
}
