.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 118px;
  padding: 0 120px;

  &__title {
    margin-top: 2px;
    width: 120px;
    height: 34px;
    font-family: $logoFontName;
    font-weight: 400;
    text-align: justify;
    font-style: normal;
    font-size: 27px;
    letter-spacing: 0.7px;
    line-height: 33px;
  }

  &__title span {
    font-weight: 700;
  }

  &__list {
    display: flex;
    list-style: none;
  }

  &__item {
    margin-left: 61px;
  }

  &__link {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: inherit;
    text-decoration: none;

    &:hover {
      color: #070688;
    }
  }
}
