* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Averta Demo PE Cutted Demo";
  src: url("../fonts/FontsFree-Net-AvertaDemoPECuttedDemo-Regular.ttf");
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Regular"), local("Proxima-Nova-Regular"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html {
  font-family: "Averta Demo PE Cutted Demo", sans-serif;
  font-size: 100%;
  color: #000000;
}

body {
  background-color: grey;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
  background-color: #fff;
}

.h2 {
  font-size: 40px;
  line-height: 49px;
}

.h3 {
  font-size: 24px;
  line-height: 30px;
}

.h4 {
  font-size: 20px;
  line-height: 25px;
}

.text {
  font-size: 16px;
  line-height: 26px;
  color: #565656;
}

.lighter-text {
  font-size: 16px;
  line-height: 22.4px;
  color: #757575;
}

.bigger-text {
  font-size: 18px;
  line-height: 28.8px;
  color: #757575;
}

.small-text {
  font-size: 14px;
  line-height: 22px;
  color: #565656;
}

.input-text {
  font-size: 16px;
  line-height: 20px;
  color: #959595;
}

.section {
  padding-left: 120px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-left: 1px;
  padding: 22px 39px 20px 40px;
  font-size: 20px;
  letter-spacing: 1.22px;
  background-color: #2639ed;
  color: #ffffff;
  border: 0;
  border-radius: 60px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 118px;
  padding: 0 120px;
}

.header__title {
  margin-top: 2px;
  width: 120px;
  height: 34px;
  font-family: "Proxima Nova";
  font-weight: 400;
  text-align: justify;
  font-style: normal;
  font-size: 27px;
  letter-spacing: 0.7px;
  line-height: 33px;
}

.header__title span {
  font-weight: 700;
}

.header__list {
  display: flex;
  list-style: none;
}

.header__item {
  margin-left: 61px;
}

.header__link {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: inherit;
  text-decoration: none;
}

.header__link:hover {
  color: #070688;
}

.hero {
  position: relative;
  height: 647px;
  padding-top: 122px;
}

.hero__title {
  margin-left: -1px;
}

.hero__text {
  margin: 39px 0 33px;
  width: 480px;
}

.hero__speaker {
  position: absolute;
  top: -2px;
  right: 0;
  height: 512px;
  width: 754px;
  background-image: url("../images/speaker.jpg");
  z-index: 10;
}

.hero__circle {
  position: absolute;
  top: -2px;
  right: 688px;
  width: 129px;
  height: 129px;
  background-image: url("../images/ellipse.svg");
  z-index: 9;
}

.hero__rectangle {
  position: absolute;
  top: 428px;
  right: 120px;
  width: 178px;
  height: 178px;
  background-image: url("../images/rectangle.svg");
  z-index: 9;
}

.hero__button {
  position: absolute;
  z-index: 10;
}

.hero__dotted-rectangle {
  position: absolute;
  top: 351px;
  left: 67px;
  width: 405px;
  height: 154px;
  background-image: url("../images/dots.svg");
  z-index: 8;
}

.clients {
  margin-right: 120px;
}

.clients__title {
  margin-left: -1px;
}

.clients__container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.clients__text {
  margin-top: 17px;
  width: 336px;
}

.clients__google {
  margin-top: 6px;
}

.clients__airbnb {
  margin-top: 4px;
}

.clients__uber {
  margin-top: 16px;
}

.clients__amazon {
  margin-top: 21px;
}

.products {
  position: relative;
  margin-top: 93px;
  min-height: 1000px;
}

.products__content {
  position: absolute;
  top: 361px;
  left: 120px;
  width: 400px;
  z-index: 10;
}

.products__h2 {
  margin-bottom: 29px;
}

.products__container {
  position: absolute;
  top: 0;
  right: 149px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 900px;
  width: 684px;
  z-index: 10;
}

.products__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 308px;
  height: 379px;
  margin: 0 0 30px 0;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
}

.products__item:first-of-type {
  margin-top: 79px;
}

.products__image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 121px;
  width: 121px;
  margin: 39px 0 31px 1px;
  border-radius: 20px;
}

.products__image_1 {
  background: #f1f7ff;
}

.products__image_2 {
  background: #fff2f8;
}

.products__image_3 {
  background: #fff7e3;
}

.products__image_4 {
  background: #deffee;
}

.products__title {
  margin-left: -2px;
  width: 200px;
  text-align: center;
}

.products__text {
  margin-top: 26px;
  width: 245px;
  text-align: center;
}

.products__bg {
  position: absolute;
  top: 140px;
  right: 0;
  height: 619px;
  width: 1047px;
  background: url("../images/products-bg.svg");
  z-index: 8;
}

.products__circle {
  position: absolute;
  top: 711px;
  right: 143px;
  width: 120px;
  height: 120px;
  background-image: url("../images/red-circle.svg");
  z-index: 6;
}

.products__dotted-rectangle {
  position: absolute;
  top: 644px;
  left: 125px;
  width: 405px;
  height: 154px;
  background-image: url("../images/dots.svg");
  z-index: 6;
}

.history {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 500px;
  margin-top: 13px;
}

.history__image-container {
  box-sizing: border-box;
  position: relative;
  height: 372px;
  width: 550px;
  background-image: url("../images/video.webp");
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
  border-radius: 32px;
  z-index: 2;
}

.history__video {
  position: absolute;
}

.history__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -59%);
}

.history__content {
  background-image: url("../images/blue-corner.svg");
  background-repeat: no-repeat;
  margin-top: 58px;
  padding: 25px 120px 0 38px;
  width: 690px;
}

.history__title {
  margin-bottom: 29px;
}

.history__circle {
  position: absolute;
  top: 307px;
  left: 582px;
  width: 129px;
  height: 129px;
  background-image: url("../images/yellow-circle.svg");
  z-index: 1;
}

.testimonials {
  margin-top: 54px;
}

.testimonials__header {
  width: 1198px;
}

.testimonials__title {
  width: fit-content;
  margin: 0 auto 17px;
  padding-right: 1px;
}

.testimonials__text {
  width: fit-content;
  margin: 0 auto;
  padding-left: 1px;
}

.testimonials__container {
  display: flex;
  margin-top: 70px;
}

.testimonials__photo {
  position: relative;
  width: 430px;
}

.testimonials__photo-wrapper {
  position: absolute;
  top: 43px;
  left: -3px;
  height: 389px;
  width: 389px;
  border-radius: 50% 0 50% 50%;
  filter: drop-shadow(10px 20px 50px rgba(0, 0, 0, 0.15));
  overflow: hidden;
  z-index: 10;
}

.testimonials__red-circle {
  position: absolute;
  top: 300px;
  left: -13px;
  width: 120px;
  height: 120px;
  background-image: url("../images/red-circle.svg");
  z-index: 5;
}

.testimonials__dotted-rectangle {
  position: absolute;
  top: 1px;
  right: 7px;
  width: 196px;
  height: 154px;
  background-image: url("../images/dots.svg");
  z-index: 6;
}

.testimonials__content {
  height: 100px;
  width: 440px;
  padding: 129px 5px 10px 23px;
}

.testimonials__description {
  margin: 19px 0 20px;
}

.testimonials__controls {
  display: flex;
  gap: 26px;
  margin-top: 40px;
}

.testimonials__button {
  height: 16px;
  width: 16px;
  background-color: #e7f0fc;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

.testimonials__button_active {
  background-color: #2639ed;
}

.testimonials__carousel {
  position: relative;
  height: 420px;
  flex-grow: 1;
}

.testimonials__pic {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  z-index: 10;
}

.testimonials__pic:nth-child(1) {
  top: 101px;
  left: 33px;
}

.testimonials__pic:nth-child(2) {
  top: 43px;
  left: 170px;
}

.testimonials__pic:nth-child(3) {
  top: 106px;
  left: 282px;
}

.testimonials__pic:nth-child(4) {
  top: 193px;
  left: 327px;
}

.testimonials__pic:nth-child(5) {
  top: 270px;
  left: 259px;
}

.testimonials__pic:nth-child(6) {
  top: 300px;
  left: 131px;
}

.testimonials__pic:nth-child(7) {
  top: 246px;
  left: 33px;
}

.testimonials__pic:nth-child(8) {
  top: 150px;
  left: 157px;
}

.testimonials__yellow-circle {
  position: absolute;
  top: 150px;
  left: 53px;
  width: 184px;
  height: 184px;
  background-image: url("../images/yellow-circle.svg");
  background-size: contain;
  z-index: 5;
}

.subscription {
  position: relative;
  margin-top: 104px;
  height: 493px;
}

.subscription__form {
  position: absolute;
  top: 155px;
  left: 212px;
  z-index: 10;
}

.subscription__container {
  display: flex;
}

.subscription__description {
  width: 528px;
}

.subscription__title {
  margin: 0 0 17px -1px;
}

.subscription__controls {
  position: relative;
}

.subscription__input {
  box-sizing: border-box;
  padding: 30px 205px 30px 34px;
  margin-top: 7px;
  height: 80px;
  width: 479px;
  background: #ffffff;
  border: 1px solid #f1f1f1;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
  border-radius: 60px;
  outline: 0;
}

.subscription__input:focus {
  outline: 1px solid #2639ed;
}

.subscription__button {
  position: absolute;
  top: 17px;
  right: 10px;
  padding-left: 39px;
  padding-right: 40px;
  font-size: 16px;
  letter-spacing: 1.04px;
}

.subscription__dotted-rectangle {
  position: absolute;
  top: 0;
  right: 86px;
  height: 154px;
  width: 175px;
  background-image: url("../images/dots.svg");
  z-index: 3;
}

.subscription__bg {
  position: absolute;
  top: 56px;
  left: 120px;
  height: 292px;
  width: 1197px;
  background-image: url("../images/light-blue-ellipse.svg");
  z-index: 4;
}

.subscription__input-bg {
  position: absolute;
  top: 56px;
  right: 77px;
  height: 292px;
  width: 543px;
  background-image: url("../images/blue-ellipse.svg");
  background-repeat: no-repeat;
  z-index: 5;
}

.subscription__yellow-corner {
  position: absolute;
  top: 209px;
  left: 82px;
  height: 178px;
  width: 178px;
  background-image: url("../images/rectangle.svg");
  transform: rotate(90deg);
  z-index: 2;
}

.footer {
  margin: 0 120px;
  padding-top: 60px;
  border-top: 1px solid #e4e4e4;
}

.footer__upper {
  display: flex;
  justify-content: space-between;
}

.footer__left-container {
  width: 270px;
}

.footer__title {
  margin-bottom: 26px;
  font-family: "Proxima Nova";
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.footer__title-second {
  font-family: "Averta Demo PE Cutted Demo";
  font-weight: 400;
}

.footer__socials {
  display: flex;
  gap: 16px;
  margin-top: 40px;
}

.footer__right-container {
  display: flex;
  width: 739px;
  margin-top: 3px;
}

.footer__links-column:nth-child(1) {
  margin-right: 120px;
}

.footer__links-column:nth-child(2) {
  margin-right: 106px;
}

.footer__links-column:nth-child(3) {
  margin-right: 107px;
}

.footer__link-title {
  margin-bottom: 27px;
}

.footer__link-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 8px;
}

.footer__link {
  font-size: 14px;
  text-decoration: none;
  color: inherit;
}

.footer__bottom {
  margin-top: 24px;
  padding: 19px 0 25px;
  text-align: center;
  font-size: 14px;
  color: #a4a4a4;
  border-top: 1px solid #f1f1f1;
}
/*# sourceMappingURL=styles.css.map */